<%include ../includes/head%>

<body>
<header>
    <%include ../includes/header%>
</header>

<div class="container">
    <div class="page-header">
        <%=main%>
    </div>
    <div class="messages">
        500 Not found
    </div>
    <div class="content">
        <%=content%>
    </div>
</div>
<%include ../includes/footer%>
<%include ../includes/foot%>
</body>